// yellow btn
.yellow-btn {
  border: none;
  display: block;
  padding: 10px 18px;
  background: $accent-clr;
  @include roboto-semiTitleMobile;
  color: $secondary-clr-1;
  letter-spacing: 4px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  // z-index: 0;
  &:hover {
    // background: mix(black, $accent-clr, 10);
    box-shadow: $box-shadowBtn1;
  }
}

// white btn

.white-btn {
  border: none;
  display: block;
  padding: 10px 18px;
  background: whitesmoke;
  border: 0.2px solid rgba(234, 234, 234, 0.404);
  transition: all 0.3s ease;

  @include roboto-semiTitleMobile;
  color: $secondary-clr-1;
  letter-spacing: 4px;
  position: relative;
  cursor: pointer;
  &:hover {
    box-shadow: $box-shadowCard;
  }
}
