@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Open+Sans&family=Raleway&family=Roboto&family=Rubik&display=swap");

$font-baloo: "Baloo Thambi 2", cursive;
$font-raleway: "Raleway", sans-serif;
$font-rubik: "Rubik", sans-serif;
$font-open-sans: "Open Sans", sans-serif;
$font-roboto: "roboto", sans-serif;

// color variables;
$primary-clr: whitesmoke;

$secondary-clr: #133e56;

$secondary-clr-1: hsl(201, 64%, 9%);
$accent-clr: #e6ff00;

$gray-clr: hsl(0, 0%, 80%);
$gray-clr-6: hsl(0, 0%, 70%);
$gray-clr-3: hsl(0, 0%, 30%);
$white: whitesmoke;

$box-shadowBtn1: 0px 7px 22px hsl(66, 100%, 39%);

$box-shadowCard: 0px 7px 24px rgba(0, 0, 0, 0.254);

$font-weight: 500;

$font-weight: 600;
